// 播放量数据显示样式格式化
function formatCount(count) {
  count = Number(count);
  if (count > 999 && count < 1000000) {
    return (count / 1000).toFixed(1) + 'K';
  } else if (count > 1000000) {
    return (count / 1000000).toFixed(1) + 'M';
  } else if (count < 900) {
    return count;
  }
}

// 播放时长显示样式格式化
function formatTime(time) {
  time = time / 1000;
  var hours = Math.floor(time / 3600);
  var minutes = Math.floor((time - (hours * 3600)) / 60);
  var seconds = Math.floor(time - (hours * 3600) - (minutes * 60));
  if (hours < 10) {
    hours = "0" + hours;
  }
  if (seconds < 10) {
    seconds = '0' + seconds;
  }
  if (minutes < 10) {
    minutes = '0' + minutes;
  }
  if (hours > 0) {
    return hours + ':' + minutes + ':' + seconds;
  } else {
    return minutes + ':' + seconds;
  }
}

module.exports = {
  formatCount: formatCount,
  formatTime: formatTime
}
